<h1>Listing reviews</h1>




<% for review in @reviews %>
<div>

<%= review.comments %>
<%= link_to 'Show', review %></td>
<%= link_to 'Edit', edit_review_path(review) %>
<%= link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete %>

</div>

<% end %>


<br />

<%= link_to 'New review', new_review_path %>
